.menu_container
{
    flex: 20%;

    max-width: 246px;
    padding-right: 20px;
    padding-left: 20px;
    .menu
    {
        display: flex;
        flex-direction: column;

        box-sizing: border-box;
        margin: 20px 0 20px 0;
        /* align-items: center; */
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;

        text-decoration: none;
        /* height: 40px; */

        border: 2px solid rgba(0, 0, 0, .01);
        border-radius: 10px;
        box-shadow: 2.5px 2.5px 6px rgba(0, 0, 0, .5);

        :hover
        {
            cursor: pointer;
        }
        .menu_btn
        {
            font-family: 'NanumGothic';
            font-size: 25px;
            font-weight: bold;
            font-style: normal;
            line-height: 25px;

            margin: 0;

            text-align: left;
            white-space: pre-line;
            text-decoration: none;

            color: var(--light-theme-font-color);
            border: 0;
            outline: 0;
            background: var(--light-theme);
        }
        .menu_items
        {
            font-family: 'NanumGothic';
            font-size: 20px;
            font-weight: bold;
            font-style: normal;
            line-height: 25px;

            margin: 10px 0 0 20px;

            list-style: none;

            text-decoration: none;

            color: var(--light-theme-font-color);
        }
    }
}
